<!-- View for create User page -->

<h1 class="text-center my-4">Create User</h1>

<div class="container">
    <% if (errorMessage){ %>
        <div class="alert alert-danger text-center" role="alert">
            <%= errorMessage %>
        </div>
        <% } %>
            <form action="/createUser" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <button type="submit" style="--bs-btn-font-size: 1.2rem;" class="btn btn-success mb-3">Create</button>
            </form>
</div>